
{{#each doc.data.explanation}}
<div class="explanation">
  <div class="abbr">{{this.abbr}}</div>
  <ol class="exps">
  {{#each this.exps}}
    <li>
      <div class="exp">{{this.exp}}</div>
    </li>
  {{/each}}
  </ol>
</div><!-- .explanation -->
{{/each}}
