<div id="vocabulary-list" class="vocabulary-list">
  {{#each docs}}
  <dl>
    <dt>
    <a href="/v/{{vocabulary}}" class="vocabulary">{{vocabulary}}</a>
    <span class="pronun">{{data.pronun.value}}</span>
    <span data-s="{{data.sound_file}}" class="glyphicon glyphicon-volume-up"></span>
      {{#if rank}}<a href="/rank/{{linkto rank}}" class="rank">#{{rank}}</a>{{/if}}
    </dt>
    <dd data-v="{{vocabulary}}">
      {{#each sentences}}<p class="sentence">{{{content}}}</p>{{/each}}
    </dd>
  </dl>
    {{/each}}
</div>
