
<h2 class="vocabulary">{{vocabulary}}<span class="rank">#{{rank}}</span></h2>
{{#if data.pronun.value}}
<h3 class="pronun">
  <p>{{data.pronun.value}}</p>
  <span data-s="{{data.sound_file}}" class="glyphicon glyphicon-volume-up"></span>
</h3>
{{/if}}
<div class="sentences">
  {{#each sentences}}
  <blockquote class="sentence">
    <p class="content">{{{hl content ../vocabulary}}}</p>
    <a class="source" href="/source/{{encode source}}">{{source}}</a>
  </blockquote>
  {{/each}}
</div>
<div class="explanation">
  {{#each data.explanation}}
  <div class="explanation">
    <div class="abbr">{{this.abbr}}</div>
    <ol class="exps">
    {{#each this.exps}}
      <li>
        <div class="exp">{{this.exp}}</div>
        {{#each this.samples}}
        <p>{{this}}</p>
        {{/each}}
      </li>
    {{/each}}
    </ol>
  </div><!-- .explanation -->
  {{/each}}
</div><!-- #explanation -->
