

<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
<style>
textarea{width: 80%; height: 200px;}
</style>
<textarea id="words">the Bolivian government publicized different inaugurations of pilot plants both for potassium chloride and lithium carbonate since the beginning of last year. As of now though Bolivia hasn't managed to introduce itself into one of the most attractive and promising markets today and in the years to come.</textarea>
<script>
// http://translate.google.com.tw/translate_tts?ie=UTF-8&q=hello%20world&tl=en&total=1&idx=0&textlen=11&client=t&prev=input

var words = document.querySelector('#words').value;
var split = words.split(/[.,]/).filter(function (el) {
  return el;
});
console.log ('split', split);

var audios = [];

split.forEach(function (segment) {
  segment = _.first(segment.trim().split(' '), 5).join(' ')

   /*
  var audio = new Audio();
  audios.push(audio)
  */
  var audio = new Audio();
  audio.rel = 'noreferrer';
  audio.setAttribute('rel', 'noreferrer');
  audio.src = 'http://translate.google.com/translate_tts?q=' + encodeURIComponent(segment.trim()) + '&tl=en'
  audio.play();
});
console.log('audios', audios);

/*
var audio = new Audio();
audio.src = target.dataset.s;
audio.play();
*/
console.log ('split', split);

</script>
