<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" id="vp" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
<title>dict.chunghe.me</title>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
<style>
  #main {
    margin: 20px 20px;
    text-align: left;
    position: relative;
  }
  dt {font-weight: normal;}
  dl {border-bottom: 1px solid #ccc;}
  dl:last-child{border: none;}
  a:hover {text-decoration: none; color: #428bca;}

  nav {text-align: right;}
  nav a {font-size: 2em; cursor: pointer;}
  nav a.disabled {cursor: not-allowed; color: #ccc;}

  #header .form-group {float: left;}
  #header .form-group .form-control {width: auto; display: inline-block;}

  #vocabulary-list {
    font-size: 1.25em;
    clear: both;
  }
  #vocabulary-list .vocabulary {font-weight: bold;}
  #vocabulary-list .glyphicon-volume-up {vertical-align: middle; cursor: pointer;}
  #vocabulary-list dt {color: #878787; }
  .rank {color: #878787; float: right; font-size: 75%;}
  .sentence dfn {bold; cursor: pointer; border-bottom: 1px dotted #878787;}
  #footer {text-align: center;}
  #footer ul li{list-style-type: none; display: inline-block; margin-right: 10px;}
</style>
</head>
<body>
  <div id="main">
    <div id="header">
      <div class="form-group">
        <label for="sort-by">Sort by:</label>
        <select id="sort-by" class="form-control">
          <option {{#eq sortBy "time"}}selected{{/eq}} value="time">time added</option>
          <option {{#eq sortBy "rank"}}selected{{/eq}} value="rank">word frequency</option>
          <option {{#eq sortBy "alphabetically"}}selected{{/eq}} value="alphabetically">alphabetically</option>
          <option {{#eq sortBy "source"}}selected{{/eq}} value="source">source</option>
          <option {{#eq sortBy "random"}}selected{{/eq}} value="random">random</option>
        </select>
      </div>
    </div>
    <div id="body">
      <nav>
        <a class="disabled glyphicon glyphicon-circle-arrow-left"></a>
        <a class="disabled glyphicon glyphicon-circle-arrow-right"></a>
        <a href="/new" class="glyphicon glyphicon-plus-sign"></a>
      </nav>
      <div id="content">
      </div>
      <nav class="hide">
        <a class="disabled glyphicon glyphicon-circle-arrow-left"></a>
        <a class="disabled glyphicon glyphicon-circle-arrow-right"></a>
        <a href="/new" class="glyphicon glyphicon-plus-sign"></a>
      </nav>
    </div>
    <div id="footer" class="hide">
      <ul>
        <li><a href="sources">list all sources</a></li>
        <li id="count"><em></em> vocabularies and counting.</li>
        <li><a href="/signout">sign out</a></li>
      </ul>
    </div>
  </div><!-- #main -->
  <script src="//cdn.jsdelivr.net/g/jquery,jquery.cookie"></script>
  <script src="//cdn.jsdelivr.net/handlebarsjs/1.3.0/handlebars.min.js"></script>
  <script>{{{inline '/bower_components/bootstrap/js/tooltip.js'}}}</script>
  <script>{{{inline '/bower_components/bootstrap/js/popover.js'}}}</script>
  <script type="text/x-handlebars-template" id="template-vocabulary-list">{{{inline '/templates/vocabulary-list.hbs'}}}</script>
  <script type="text/x-handlebars-template" id="template-popover">{{{inline '/templates/popover.hbs'}}}</script>
  <script>
    var source = $('#template-vocabulary-list').text();
    var template = Handlebars.compile(source);
    var docs = null;
    var elLeft = document.querySelectorAll('nav .glyphicon-circle-arrow-left');
    var elRight = document.querySelectorAll('nav .glyphicon-circle-arrow-right');
    var elSortBy = document.querySelector('#sort-by');
    var sortBy = elSortBy.value || '';
    var page = 0;
    var pages = 0;
    var PER_PAGE = 10;

    Handlebars.registerHelper('linkto', function (rank) {
      var page = Math.max(Math.ceil(rank/PER_PAGE) -1, 0)
      var from = page * PER_PAGE + 1;
      var to = from + PER_PAGE - 1;
      return from + '-' + to;
    });

    var fetch = function (sortBy, page) {
      $.ajax({
        url: '/list/page/' + page +'?sortBy=' + sortBy ,
        headers:{'X-Requested-With':'XMLHttpRequest'}
      }).done(function (res) {
        docs = res.docs;
        page = res.page;
        pages = res.pages;
        document.querySelector('#footer').classList.remove('hide');
        document.querySelectorAll('nav')[1].classList.remove('hide');

        if (page === 0)
          [].forEach.call(elLeft, function (el) {el.classList.add('disabled')})
        else
          [].forEach.call(elLeft, function (el) {el.classList.remove('disabled')})
        if (page === pages - 1)
          [].forEach.call(elRight, function (el) {el.classList.add('disabled')})
        else
          [].forEach.call(elRight, function (el) {el.classList.remove('disabled')})
        
        res.docs.forEach(function (doc) {
          var regex = new RegExp('(' + doc.vocabulary + ')'+ '([^\\s]*)', 'gi')
          if (Array.isArray(doc.sentences)) {
            doc.sentences.forEach(function (sentence, index) {
              sentence.content = sentence.content.replace(regex, '<dfn>$1$2</dfn>')
            });
          }
        });
        document.querySelector('#content').innerHTML = template(res);
        document.querySelector('#count em').innerHTML = res.total;
      });
    }

    fetch(sortBy, 0);

    // sort by menu change
    elSortBy.addEventListener('change', function () {
      sortBy = this.value;
      $.cookie('sortBy', sortBy);
      fetch(sortBy, 0);
    });

    // click on 'prev' and 'next'
    document.body.addEventListener('click', function (e) {
      var target = e.target;
      if (target.classList.contains('disabled')) {
        return false;
      }
      if ((target.classList.contains('glyphicon-circle-arrow-right') || (target.classList.contains('glyphicon-circle-arrow-left')))) {
        e.preventDefault()
        if (target.classList.contains('glyphicon-circle-arrow-right'))
          page += 1;
        else
          page -= 1;
        fetch(sortBy, page);
      }
    });

    // hotkey support
    document.body.addEventListener('keydown', function (e) {
      switch (e.keyCode) {
        case 122: // z
          page  = 0;
          break;
        case 118: // v
          page = pages - 1;
          break;
        case 67: // c
        case 39: // right arrow
          page += 1;
          page = Math.min(page, pages - 1);
          break;
        case 88: // x
        case 37: // left arrow
          page -= 1;
          page = Math.max(0, page);
          break;
      }
      fetch(sortBy, page);
    });

    // play sound
    document.body.addEventListener('click', function (e) {
      var target = e.target;
      if (target.dataset.s) {
        if (target.dataset.s) {
          var audio = new Audio();
          audio.src = target.dataset.s;
          audio.play();
        }
      }
    });

    // popover
    var renderPopOver = function (v) {
      var found = null;
      docs.some(function (doc) {
        found = doc
        return (doc.vocabulary === v)
      });
      var source = $('#template-popover').text();
      var template = Handlebars.compile(source);
      return template({doc:found})
    };
    $('body').popover({
        selector: '#content .sentence dfn',
        trigger: 'hover',
        title: function () {
          return $(this).closest('dd').data('v')
        },
        html: true,
        content: function () {
          var v = $(this).closest('dd').data('v');
          return renderPopOver(v);
        },
        placement: function (tip, element) {
          var rect = element.getBoundingClientRect()
          var viewPortWidth = $(window).width();
          var viewPortHeight = $(window).height();

          // too close to right
          if ( viewPortWidth - rect.left - rect.width < 245)
            return 'left';
          // too close to bottom
          else if (viewPortHeight - rect.top - rect.height  < 120)
            return 'top';
          // too close to top
          else if (rect.top < 120)
            return 'bottom'
          return 'right';
        }
    });
  </script>
</body>
</html>
