<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>dict.chunghe.me</title>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
<style>
  #main {
    margin: 50px 5%;
    text-align: left;
  }
  label {
    color: #999;
  }
  #sentences .sentence {
    margin-bottom: .5em;
  }
  #sentences .sentence-meta {
    position: relative;
    margin-bottom: .5em;
  }
  #sentences .sentence-meta .sentence-source {
    border: none;
    position: absolute;
    right: 0;
    height: 32px;
    top: 0;
  }
</style>
</head>
<body>
  <div id="main">
    <div id="header">
    </div>
    <form name="dictform" role="form">
      <div class="form-group">
        <div class="form-group">
          <label for="vocabulary">vocabulary:</label>
          <input type="text" class="form-control input-lg" id="vocabulary" name="vocabulary" value="{{doc.vocabulary}}">
        </div>
        <div id="sentences" class="form-group">
          <label>sample sentence:</label>
          {{#if doc.sentences}}
            {{#each doc.sentences}}
              {{> sentence-group}}
            {{/each}}
          {{else}}
            {{> sentence-group}}
          {{/if}}
        </div>
        <button type="submit" class="btn btn-default" id="save">Save</button>
      </div>
    </form>
  </div>
  <script src="//cdn.jsdelivr.net/g/jquery,jquery.cookie,handlebarsjs@1.0.12"></script>
  <script>

    var btnSubmit = document.querySelector('#save');
    var form = document.dictform;
    var type = /\/edit\//.test(window.location.href) ? 'edit': 'new';
    var url = (type === 'edit') ? '/edit' : '/new';

    form.addEventListener('submit', function (e) {
      e.preventDefault();
      var sentences = [];
      [].forEach.call(document.querySelectorAll('#sentences .sentence-group'), function (el) {
        // sentences.push(el.value)
        var content = el.querySelector('.sentence').value;
        var source =  el.querySelector('.sentence-source').value;
        if (content) {
          sentences.push({
            content: content,
            source: source
          });
        }
      });
      postData = {
        vocabulary: form.vocabulary.value,
        sentences: sentences,
      };
      $.post(url, postData).done(function (res) {
        window.location.href = '/v/' + res;
      }).fail(function (e) {
        alert('something goes wrong: \n\n' + e.responseText);
      });
    });

  </script>
</body>
</html>
