<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{{doc.vocabulary}}</title>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
<style>
  #header {
    text-align: right;
  }
  #header a {
    font-size: 2em;
  }
  #main {
    margin: 50px 5%;
    text-align: left;
  }
  #content {font-size: 1.6em; position: relative;}
  #content p {margin: 0;}
  #content .count {margin-left: .5em; color: #666;}
</style>
</head>
<body>
  <div id="main">
    <div id="header">
      <a href="{{prevPageUrl}}" class="disabled glyphicon glyphicon-circle-arrow-left"></a>
      <a href="{{nextPageUrl}}" class="disabled glyphicon glyphicon-circle-arrow-right"></a>
    </div>
    <div id="content">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>pos</th>
            <th>vocabulary</th>
          </tr>
        </thead>
        <tbody>
          {{#each docs}}
          <tr>
            <td>{{this.rank}}</td>
            <td>{{this.pos}}</td>
            <td><a href="http://tw.dictionary.search.yahoo.com/search?p={{this.v}}&fr2=dict">{{this.v}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div><!-- #content -->
  </div>
  <script src="//cdn.jsdelivr.net/g/jquery,jquery.cookie,handlebarsjs@1.0.12"></script>
</body>
</html>
