<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{{doc.vocabulary}}</title>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
<style>
  #main {
    margin: 20px 20px;
    text-align: left;
    font-size: 1.25em;
  }
  #main  th, #main td {
    padding: 12px;
  }
  #main .count {
    text-align: right;
  }
  #main tbody .count {
    font-weight: bold;
  }
  nav {text-align: right;}
  .glyphicon {font-size: 28px;}
  .glyphicon:hover {text-decoration: none;}

</style>
</head>
<body>
  <div id="main">
    <div id="body">
      <nav>
        <a href="/" class="glyphicon glyphicon-home"></a>
      </nav>
      <table class="table table-striped">
        <thead>
          <th class="count">count</th>
          <th>source</th>
          <th></th>
        </thead>
        <tbody>
          {{#each data}}
          <tr>
            <td class="count">
              {{this}}
            </td>
            <td>
              <a href="/source/{{encode @key}}">{{@key}}</a>
            </td>
            <td><a class="glyphicon glyphicon-plus-sign" href="/new?source={{encode @key}}"></a></td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div><!-- #body -->
  </div><!-- #main -->
</body>
</html>
