<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{{doc.vocabulary}}</title>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
<style>
  #main {
    margin: 20px 20px;
    text-align: left;
  }
  #header .glyphicon{font-size: 2em; cursor: pointer; text-decoration: none;}
  #header, #content {font-size: 1.25em;}
  #header {float: left; margin-bottom: 15px; white-space: nowrap; overflow: hidden; width: calc(100% - 80px); text-overflow: ellipsis;}
  #content .count {margin-left: .5em; color: #666;}

  nav {text-align: right;}
  nav a {font-size: 2em;}
  dt {font-weight: normal;}
  dl {border-bottom: 1px solid #ccc;}
  dl:last-child{border: none;}
  a:hover {text-decoration: none; color: #428bca;}

  #vocabulary-list {
    clear: both;
  }
  #vocabulary-list .vocabulary {font-weight: bold;}
  #vocabulary-list .glyphicon-volume-up {vertical-align: middle; cursor: pointer;}
  #vocabulary-list dt {color: #878787;}
  .rank {color: #878787; float: right; font-size: 75%;}
  .sentence dfn {bold; cursor: pointer; border-bottom: 1px dotted #878787;}

</style>
</head>
<body>
  <div id="main">
    <div id="header">
      <h3>{{source}}</h3>
    </div>
    <div id="body">
      <nav>
        <a href="/" class="glyphicon glyphicon-home"></a>
        <a href="/new?source={{source}}" class="glyphicon glyphicon-plus-sign"></a>
      </nav>
      <div id="content">
      </div><!-- #content -->
    </div>
  </div><!-- #main -->
  <script src="//cdn.jsdelivr.net/g/jquery,jquery.cookie"></script>
  <script src="//cdn.jsdelivr.net/handlebarsjs/1.3.0/handlebars.min.js"></script>
  <script>{{{inline '/bower_components/bootstrap/js/tooltip.js'}}}</script>
  <script>{{{inline '/bower_components/bootstrap/js/popover.js'}}}</script>
  <script type="text/x-handlebars-template" id="template-vocabulary-list">{{{inline '/templates/vocabulary-list.hbs'}}}</script>
  <script type="text/x-handlebars-template" id="template-popover">{{{inline '/templates/popover.hbs'}}}</script>
  <script>
    Handlebars.registerHelper('linkto', function (rank) {
        return rank;
    });
    var source = $('#template-vocabulary-list').text();
    var template = Handlebars.compile(source);
    var docs =  {{{docs}}};
    docs.forEach( function (doc) {
      var regex = new RegExp('(' + doc.vocabulary + ')'+ '([^\\s]*)', 'gi')
      doc.sentences.forEach(function (sentence, index) {
        sentence.content = sentence.content.replace(regex, '<dfn>$1$2</dfn>')
      });
    });
    var html = template({docs: docs});
    console.log ('html', html);
    document.querySelector('#content').innerHTML = html;

    // play sound
    document.body.addEventListener('click', function (e) {
      var target = e.target;
      if (target.dataset.s) {
        if (target.dataset.s) {
          var audio = new Audio();
          audio.src = target.dataset.s;
          audio.play();
        }
      }
    });

    // popover
    var renderPopOver = function (v) {
      var found = null;
      docs.some(function (doc) {
        found = doc
        return (doc.vocabulary === v)
      });
      var source = $('#template-popover').text();
      var template = Handlebars.compile(source);
      return template({doc:found})
    };
    $('body').popover({
        selector: '#content .sentence dfn',
        trigger: 'hover',
        title: function () {
          return $(this).closest('dd').data('v')
        },
        html: true,
        content: function () {
          var v = $(this).closest('dd').data('v');
          return renderPopOver(v);
        },
        placement: function (tip, element) {
          var rect = element.getBoundingClientRect()
          var viewPortWidth = $(window).width();
          var viewPortHeight = $(window).height();

          // too close to right
          if ( viewPortWidth - rect.left - rect.width < 245)
            return 'left';
          // too close to bottom
          else if (viewPortHeight - rect.top - rect.height  < 120)
            return 'top';
          // too close to top
          else if (rect.top < 120)
            return 'bottom'
          return 'right';
        }
    });

  </script>
</body>
</html>
