<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" id="vp" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
<title>{{doc.vocabulary}}</title>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
<style>
  html, body { height:100%;}
  body {
    padding:0;
    margin:0;
    background:#333;
    color:#eee;
    font-family:helvetica;
  }
  #swipeview-slider > div {overflow: auto;}

  #content, #main {
    height:100%;
  }

  #header { font-size: 2em; position: absolute; z-index: 1; right: 10px; top: 10px;}
  #header > a{cursor: pointer; text-decoration: none; color: #fff;}
  #header > a.disabled {cursor: not-allowed; color: #878787;}

  #content {font-size: 1.25em; position: relative;}
  #content p, #content a {margin: 0;}
  .item {margin: 20px 20px;}
  .item .pronun {color: #878787; margin-bottom: .5em; margin-top: 0;}
  .item .pronun > * {display: inline-block; vertical-align: top;}
  .item .pronun .glyphicon-volume-up{margin-left: 10px; cursor: pointer; }
  .item .pronun .glyphicon-volume-up.active{color:#1ca5d3;}
  .item .vocabulary {margin-bottom; 0;}
  .item .vocabulary .rank {color: #878787; font-size: 50%; margin-left:.5em;}
  .item .sentence .source{margin: 0 10px; color: #878787; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; display: block;}
  .item .sentence em {font-weight: bold;}
  .item .abbr {color: #878787; margin-bottom: .5em;}
  .item .explanation{margin-bottom: 1em;}
  .item ol.exps li {margin-bottom: .5em;}
  .item blockquote p {font-size: inherit;}
  {{#if isMobile}}
  #header > a {display: none;}
  #header > a:first-child {display:inline;}
  {{/if}}
</style>
</head>
<body>
  <div id="main">
    <div id="header">
      <a href="/" class="glyphicon glyphicon-home"></a>
      <a class="{{#unless prev}}disabled{{/unless}} glyphicon glyphicon-circle-arrow-left"></a>
      <a class="{{#unless next}}disabled{{/unless}} glyphicon glyphicon-circle-arrow-right"></a>
      <a href="/edit/{{doc.vocabulary}}" class="glyphicon glyphicon-edit"></a>
      <a class="glyphicon glyphicon-trash"></a>
    </div>
    <div id="content">
    </div><!-- #content -->
  </div>
  <script src="//cdn.jsdelivr.net/g/jquery,jquery.cookie"></script>
  <script src="//cdn.jsdelivr.net/handlebarsjs/1.3.0/handlebars.min.js"></script>
  <script>{{{inline '/bower_components/swipeview/src/swipeview.js'}}}</script>
  <script type="text/x-handlebars-template" id="template-vocabulary">{{{inline '/templates/vocabulary.hbs'}}}</script>
  <script>
var el, i, page, slides = {{{doc}}};
var gallery = new SwipeView('#content', { numberOfPages: slides.length});
var source = $('#template-vocabulary').text();
var template = Handlebars.compile(source);
var vocabulary = '{{vocabulary}}';
var elRight = document.querySelector('.glyphicon-circle-arrow-right');
var elLeft = document.querySelector('.glyphicon-circle-arrow-left');
var elEdit = document.querySelector('.glyphicon-edit');
var pageIndex = slides.map(function(el){
  return el.vocabulary
}).indexOf(vocabulary)
if (pageIndex === -1) {
  pageIndex = 0
}

Handlebars.registerHelper('hl', function (str, vocabulary){
  var reg = new RegExp('(' + vocabulary + ')([^\s]*)' , 'ig');
  return str.replace(reg, '<em>$1$2</em>');
});

Handlebars.registerHelper('encode', function (str){
  return encodeURIComponent(str);
});


// Load initial data
for (i = 0; i < 3; i += 1) {
  page = i==0 ? slides.length-1 : i-1;
  el = document.createElement('div');
  el.classList.add('item');
  el.innerHTML = template(slides[page])

  gallery.masterPages[i].appendChild(el)
}

gallery.onFlip(function () {
  var el, upcoming, i;
  var data = slides[gallery.pageIndex];
  elRight.classList[gallery.pageIndex < slides.length ? 'remove': 'add']('disabled')
  elLeft.classList[gallery.pageIndex > 0 ? 'remove': 'add']('disabled')
  elEdit.href = '/edit/' + data.vocabulary;

  if (document.location.href.match(/\/v\/([\w]+)/)[1] !== data.vocabulary) {
    history.pushState(null, data.vocabulary, data.vocabulary)
  }

  document.title = data.vocabulary;

  for (i=0; i<3; i++) {
    upcoming = gallery.masterPages[i].dataset.upcomingPageIndex;

    if (upcoming != gallery.masterPages[i].dataset.pageIndex) {
      el = gallery.masterPages[i].querySelector('.item');
      el.innerHTML = template(slides[upcoming]);
    }
  }
});

gallery.goToPage(pageIndex)

goToNext = function () {
  if (!elRight.classList.contains('disabled')) {
      gallery.next();
  }
}

goToPrev = function () {
  if (!elLeft.classList.contains('disabled')) {
      gallery.prev();
  }
}
// hotkey support
document.body.addEventListener('keydown', function (e) {
  var key = e.which;
  var toget = 0;
  switch (e.which) {
    case 90: // z
      gallery.goToPage(0);
      break;
    case 118: //v
      gallery.goToPage(slides.length - 1);
      break;
    case 67: // c
    case 39: // right arrow
      goToNext();
      break;
    case 88: // x
    case 37: // left arrow
      goToPrev();
      break;
  }
});

document.body.addEventListener('click', function (e) {
  if (e.target.classList.contains('glyphicon-circle-arrow-right')) {
    goToNext();
  }
  if (e.target.classList.contains('glyphicon-circle-arrow-left')) {
    goToPrev();
  }
});

var audio = new Audio()
audio.addEventListener('ended', function () {
  [].forEach.call(document.querySelectorAll('#swipeview-slider .glyphicon-volume-up'), function (el) {
  el.classList.remove('active')
 })
});

document.body.addEventListener('click', function (e) {
  var target = e.target, classList = target.classList;
  if (classList.contains('glyphicon-volume-up') && target.dataset.s && (!classList.contains('active'))) {
    classList.add('active');
    audio.src = target.dataset.s;
    audio.play();
  }
});

document.body.addEventListener('click', function (e) {
  if(e.target.classList.contains('glyphicon-trash')) {
    if (confirm('confirm delete?')) {
      $.ajax({
        url: '/delete/' + slides[gallery.pageIndex].vocabulary,
        method: 'DELETE'
      }).done(function (rsp) {
        window.location.href = '/'
      }).error(function (e) {
        alert(e.responseText);
      })
    }
  }
});
/*
  var elDelelte = document.querySelector('#header .glyphicon-trash');
  elDelelte.addEventListener('click', function (e) {
    e.preventDefault()
    if (confirm('confirm delete?')) {
      var vocabulary = document.querySelector('#vocabulary').innerHTML;
      $.ajax({
        url: '/delete/' + vocabulary,
        method: 'DELETE'
      }).done(function (rsp) {
        window.location.href = '/'
      }).error(function (e) {
        alert(e.responseText);
      })
    }
  });
  */

  </script>
</body>
</html>
