
<div class="sentence-group">
  <textarea class="form-control sentence" name="sentence" rows="3">{{content}}</textarea>
  <div class="form-control sentence-meta">
    <input type="text" class="form-control sentence-source" name="sentence-source" placeholder="source (optional)" value="{{source}}">
  </div>
</div>
